<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCqmZgXEYcpsjpjEuwhRwtc1Mci-hTDjc8&libraries=places' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav'%>
  <div class="container">
    <%= bootstrap_flash %>
    <div class="animsition">
      <%= yield %>
    </div>
  </div>

</body>
</html>
